@import url(../fonts/inter-regular/stylesheet.css);
@import url(../fonts/inter-medium/stylesheet.css);
@import url(../fonts/Inter-semibold/stylesheet.css);
@import url(../fonts/inter-bold/stylesheet.css);

.spsg-stock-stockbar-status {
	width: 100%;
}
.spsg-stock-stockbar-status::after {
	display: table;
	content: " ";
	clear: both;
}

.jqmeter-container .outer-therm {
	margin: 0;
}

.spsg-stock-progress {
	width: 0;
	border-radius: 5px;
}

.spsg-stock-progress-bar {
	width: 100%;
	border-radius: 5px;
	margin-top: 5px;
}

.spsg-stock-progress-bar-section {
    gap: 16px;
    display: grid;
    background: #fff;
	border-radius: 6px;
	margin-bottom: 20px;
    padding: 15px 15px 15px;
}

.spsg-stock-progress-title {
    display: flex;
    line-height: 1;
	justify-content: space-between;
}

.spsg-stock-progress-available-title{
	float: right;
}
.spsg-stock-progress-sold-title,
.spsg-stock-progress-available-title {
    font-size: 14px;
	color: #073b4c;
}
.spsg-stock-progress-count {
	color: #000;
	font-weight: 600;
}

